name: Waka Readme

on:
  schedule:
    - cron: '0 16 * * *' # 北京时间 00:00
  workflow_dispatch:

jobs:
  update-readme:
    name: Update Readme with Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          LOCALE: zh
          SHOW_LINES_OF_CODE: "true"
          SHOW_LOC_CHART: "false"
          SHOW_SHORT_INFO: "false"
          SHOW_OS: "true"
          SHOW_PROJECTS: "true"
          SHOW_TOTAL_CODE_TIME: "true"
          SHOW_COMMIT: "true"
          SHOW_PROFILE_VIEWS: "true"
          SHOW_DAYS_OF_WEEK: "true"
          SHOW_LANGUAGE: "true"
          SHOW_EDITORS: "true"
          SHOW_LANGUAGE_PER_REPO: "true"
          SYMBOL_VERSION: "2"
