name: Waka Readme

on:
  workflow_dispatch:
  schedule:
    - cron: "0 16 * * *"

jobs:
  update-readme:
    name: WakaReadme DevMetrics
    runs-on: ubuntu-latest
    steps:
      # 1. 更新 7 天数据
      - name: Update 7 Days Stats
        uses: athul/waka-readme@master
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SECTION_NAME: waka_7d
          TIME_RANGE: last_7_days
          TARGET_BRANCH: main # 确保指定为 main
          LANG_COUNT: 5
          SHOW_TIME: true
          SHOW_TOTAL: true
          STOP_AT_OTHER: true
          IGNORED_LANGUAGES: YAML JSON TOML Markdown Text
          COMMIT_MESSAGE: "chore: update waka-readme 7d stats [skip ci]"

      # 2. 更新 30 天数据
      - name: Update 30 Days Stats
        uses: athul/waka-readme@master
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SECTION_NAME: waka_30d
          TIME_RANGE: last_30_days
          TARGET_BRANCH: main # 确保指定为 main
          LANG_COUNT: 5
          SHOW_TIME: true
          SHOW_TOTAL: true
          STOP_AT_OTHER: true
          IGNORED_LANGUAGES: YAML JSON TOML Markdown Text
          COMMIT_MESSAGE: "chore: update waka-readme 30d stats [skip ci]"

      # 3. 更新 1 年数据
      - name: Update 1 Year Stats
        uses: athul/waka-readme@master
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SECTION_NAME: waka_1y
          TIME_RANGE: last_year
          TARGET_BRANCH: main # 确保指定为 main
          LANG_COUNT: 6
          SHOW_TIME: true
          SHOW_TOTAL: true
          STOP_AT_OTHER: true
          IGNORED_LANGUAGES: YAML JSON TOML Markdown Text
          COMMIT_MESSAGE: "chore: update waka-readme 1y stats [skip ci]"

      # 4. 更新全部总计数据
      - name: Update All Time Stats
        uses: athul/waka-readme@master
        with:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SECTION_NAME: waka_all
          TIME_RANGE: all_time
          TARGET_BRANCH: main # 确保指定为 main
          LANG_COUNT: 8 
          SHOW_TIME: true
          SHOW_TOTAL: true
          STOP_AT_OTHER: true
          IGNORED_LANGUAGES: YAML JSON TOML Markdown Text
          COMMIT_MESSAGE: "chore: update waka-readme all time stats [skip ci]"
